@charset "UTF-8";

.con {
	margin:0 auto;
	width:1200px;
	text-align:center;
}

.keyword-form {
	margin-top:50px;
}

.keyword-form table {
	margin:20px auto;
	text-align:left;
	border-top:2px solid lightgray;
	border-bottom:2px solid lightgray;
}

.keyword-form table th, keyword-form table td{
	padding:20px 10px;
}

.keyword-form .data-btn {
	padding:7px;
	margin:10px;
	font-size:1.1rem;
	font-weight:bold;
	color:white;
	background-color: skyblue;
	border:none;
}

.keyword-form .data-btn.disable-btn {
	background-color:gray;
	cursor:not-allowed;
}

.keyword-form button:hover {
	background-color: #0080c0;
	cursor:pointer;
}

.keyword-form .data-analysis-complete-msg {
	color:red;
	height:20px;
}

.keyword-info .keyword {
	background-color: #ff6666;
	border-radius:30px;
	display:inline-block;
	padding:10px 20px;
	font-weight:bold;
	font-size:1.2rem;
	color:white;
}

.keyword-info .keyword-source {
	text-align:right;
}

.chart-box {
	margin-top:50px;	
}

.chart-box .chart-info {
	text-align:right;
	color:gray;
	font-size:0.9rem;
}